<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <div class="container">
      <header>{{{body}}}</header>
      <footer>&copy2016 Meadowlark Travel</footer>
    </div>
  </body>
</html>